{% extends 'base.html' %}

{% block head %}
<title>Edit Post</title>
{% endblock %}

{% block body %}

<h2>Update blog post:</h2>

{# <form action="/posts/edit/{{ post.id }}" method='POST'> #}
{# 	Title: <input type="text" name="title" id="title" value='{{ post.title }}'> #}
{# 	<br> #}
{# 	Author: <input type="text" name="author" id="author" value='{{ post.author }}'> #}
{# 	<br>	 #}
{# 	Content: <input type="text" name="content" id="content" value='{{ post.content }}'> #}
{# 	<br> #}
{# 	<input class="btn btn-primary" type="submit" value="Save"> #}
{# </form> #}

<form action="/posts/edit/{{ post.id }}" method='POST'>
	<label for="Title">Title</label>
	<input class="form-control" type="text" name="title" id="title" value='{{ post.title }}' aria-label="Enter Title">
	<br>
	<label for="Author">Author</label>
	<input class="form-control" type="text" name="author" id="author" value='{{ post.author }}' aria-label="Enter author">
	<br>
	<label for="Content">Content</label>
	<textarea class="form-control" name="content" id="content" rows="3">{{ post.content }}</textarea>
	<br>
	<input class="btn btn-secondary" type="submit" value="Save">
</form>
<hr>


{% endblock %}

