{% extends 'base.html' %}

{% block head %}
<title>P o s t s</title>
{% endblock %}

{% block body %}

<h3>Posts</h3>

<hr>
<h2>Create new blog post:</h2>
<form action="/posts" method='POST'>
	Title: <input type="text" name="title" id="title">
	<br>
	Content: <input type="text" name="content" id="content">
	<br>
	<input type="submit" value="Post">
</form>
<hr>

{% for post in posts %}
<p>{{ post.title }} : {{ post.content }}</p>
{% if post.author %}
<li>By:  {{ post.author }}</li>
{% else %}
<li>By: N/A </li>
{% endif %}
{% endfor %}
{% endblock %}
